body {

    overflow: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.last{
    position: absolute;
    left: 200px;
    bottom: 80px;
    z-index: 10;
}
.next{
    position: absolute;
    right: 200px;
    bottom: 80px;
    z-index: 10;
}
.ab{
    position: absolute;
    top: 200px;
    left: calc(50% - 400px);
    font: 900 100px '';
    color: #333;
    cursor: pointer;
}
.ab:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 50px #fff,
    0 0 80px #fff;
}
.ab span{
    transition: .5s;
    transition-delay: calc(var(--i)*.1s);
    
}
.a{
    
    /* background-color: chocolate; */
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.a span{
    transition: .5s;
    transition-delay: calc(var(--i)*.1s);
    
}
.a:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 50px #fff,
    0 0 80px #fff;
}
.bac2 {
    background: url("http://pic.heiheiyun.top/hisbac2.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.bac3 {
    background: url("http://pic.heiheiyun.top/hisbac3.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.bac5 {
    background: url("http://pic.heiheiyun.top/historybac.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.bac6 {
    background: url("http://pic.heiheiyun.top/bac5.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.bac7 {
    background: url("http://pic.heiheiyun.top/bac4.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.bac8 {
    background: url("http://pic.heiheiyun.top/bacend.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

.art{
    width: 800px;
    height: 400px;
    font-size: 40px;
    position: absolute;
    left: calc(50% - 400px);
    top: calc(50% - 200px);
}
.art span{

    font-size: 35px;
    
    
}
img{
        width:200px;
        height:200px;
    }
    .piclist{
        position: absolute;
        top: 200px;
        width:1000px;
        height:400px;
        left: calc(50% - 500px);
    }
    .picbox{
        float:left;
        width:200px;
        height:200px;
        margin:auto;
        margin:10px;
        position:relative;
        /*父元素里面包含需要变换的内容，所以设置为3D变换*/
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition:1.5s;
        /*设置在1.5s内完成变换*/
    }
    .picbox:hover{
        transform:rotateY(180deg);
    }
    .box{
        width:200px;
        height:200px;
        position:absolute
        }
    .front{
        border:2px solid #ddd;
        box-shadow:10px 10px 10px #aaa;
    }
    .back{
        -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        background: #8b4373;
        border:2px solid #ddd;
    }
    .back h2{
        color: white;
        text-align: center;
        font-family: "KaiTi";
    }
.yangpic{
    margin-top: 200px;
    margin-left: 50px;
    width: 300px;
    height: 350px;
}
.yangpic3{
    margin-top: 200px;
    margin-left: 50px;
    width: 450px;
    height: 350px;
}
.yangpic2{
    position: absolute;
    top: 180px;
    right: 50px;
    width: 400px;
    height: 350px;
}